[MASTER]
init-hook='import sys; sys.path.append("/Library/AutoPkg")'
disable=
    missing-function-docstring,
    too-few-public-methods

[BASIC]
# Naming style matching correct module names.
module-naming-style=PascalCase

[TYPECHECK]
ignored-modules=autopkglib
